# Extra packages

sphinx-copybutton # 2023-05-03 - Joshua: Added for easy code blocks copying
sphinx-rtd-theme  # 2023-10-11 - Joshua: For some reason, RTD automatic builds won't include this package
